:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

   .reddot,
    .yellowdot,
    .greendot {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        border-width: 8px;
        border-color: goldenrod;
    }

    .reddot {
        background-color: red;
        margin-left: 50px;
    }
    .yellowdot {
        background-color: rgb(251, 228, 112);
    }
    .greendot {
        background-color: green;
    }
    .reddot:hover {
        background-color: #ca1717;
        transition: 0.2s;
    }
    .yellowdot:hover {
        background-color: #ff7800;
        transition: 0.2s;
    }
    .greendot:hover {
        background-color: #4cbb17;
        transition: 0.2s;
    }
